

.carrousel {
    width: 90%;
    height: 90vh;
    max-width: 120em;
    padding: 1em;
    margin: 1px auto;
    background-color: #B8C6DB;
    border-radius: 20px;
    box-shadow: 1px 1px 1px #B8C6DB;
    overflow-y: hidden;
    overflow-x: hidden;
}

.carrousel .display_carrousel {
    height: 90%;
    width: 200%;
    display: flex;

    justify-content: flex-start;
    align-items: center;
    justify-content: space-between;
    transition: all.5s ease;
    transform: translateX(0%);
    cursor: pointer;
    
}

.carrousel .img_carrousel {
    width: calc(100% / 2);
    min-height: 10vh;
    border-radius: 20%;
    padding: 0px 17px;
    margin-top: 15px;
    height: 95%;
}

/* Menu */

.carrousel .points_displays_carrousel {
    width: 100%;
    padding: .4em;
    margin: 1em 0 0;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.carrousel .point_display {
    width: 1em;
    height: 1em;
    background-color: #ffffff;
    margin: .2em;
    list-style: none;
    border-radius: 100%;
    border: 1px solid black;

}

.carrousel .point_display.active_point {
    background-color: orange;
}

@media(max-width: 321px){
    .carrousel{
        width: 100%;
    }   
}

@media(min-width: 767px){
    .carrousel .img_carrousel{
        margin: 0px 50px;
    background: aliceblue;
    border: 1px solid red;
    }
}