/*#contact_me{
    /* margin-top: 10%; 
    /* max-width: 400px; 

}*/

#display_grid_contact_me{
    display: grid;
    grid-auto-flow: row;
    row-gap: 25px;
    
    /* grid-template-rows: 150px auto; */
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 1.3rem;
    /* margin: 10px 15px; */
    margin: 1rem 1rem;
    
    background: #4ca1af;
    background: linear-gradient(to right, #7cdceb, #acf3ff);
    box-shadow: #00000030 0px 10px 20px, #0000003b 0px 6px 6px;
}

#display_grid_contact_me > h2{
    margin-top: 20px;
    font-style: italic;
    color: #dd4747;
    letter-spacing: 4px;
}

#display_grid_contact_me div:first-child{
    margin-top: 20px;
}

input[type=text], input[type=email], select, #contact_me_message{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #d8d8d8;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 1px 1px 1px #ba86ff8a;
    color: black;
}

#contact_me_message{
    display: block;
    max-height: max-content;
    
    height: 100px;
    resize: none;
}