#card_dislay_CV {
  display: flex;
  flex-flow: column nowrap;
  max-height: 17rem;
  
  gap: 1.5rem;
  padding: 1rem;
  margin: 1rem 1rem;
  
  border-radius: 15px;
  background: #4ca1af;
  background: linear-gradient(to right, #acf3ff, #059bb4b8);
  box-shadow: #00000030 0px 10px 20px, #0000003b 0px 6px 6px;
}

#card_dislay_CV h2 {
  padding: 16px;
  text-align: center;
  font-size: 25px;
  letter-spacing: 4px;
  font-weight: 700;
  color: #dd4747;
}

#card_dislay_CV p {
  font-weight: bold;
  letter-spacing: 5px;
  font-size: 13px;
  text-align: center;
}

#card_dislay_CV button {
  margin-bottom: 20px;
}
