/* Estilos globales */
:root {
  --orange_rich: #ffb75e;
  --soft-blue: #e7f5ff;
  --grey: #bababa;
  --color_backgroud_img: #95aec4;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

a {
  color: #2042ff;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
}

a:active {
  color: #ffffff;
}

.sections {
  margin: 20% auto;
}

.firts_section {
  margin-top: 10%;
}

.button {
  cursor: pointer;
  background: #fff;
  color: #000000;
  font-weight: 600;
  letter-spacing: 2px;
  border: none;
  padding: 14px 20px;
  border-radius: 20px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  margin: 20px;
  -webkit-box-shadow: 7px 14px 13px -7px rgb(181 121 181 / 56%);
  -moz-box-shadow: 7px 14px 13px -7px rgba(181, 121, 181, 0.56);
  box-shadow: -1px 15px 18px -10px #b579b59e;
}

.button::after {
  border-radius: 20px;
  content: "";
  background: #e45858;
  border: 1px solid #b579b59e;
  position: absolute;
  z-index: -1;
  padding: 14px 20px;
  display: block;
  top: 0;
  bottom: 0;
  left: 100%;
  right: -100%;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.button:hover {
  color: #ffffff;
  /* color de fuente hover */
}

.button:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.logo {
  padding: 12px;
  max-width: 100px;
  max-height: 100px;
  border-radius: 50px;
  background-color: #5fd068;
}

.ico2 {
  background-color: #e0ffd442;
  width: 100%;
  box-shadow: 1px 2px 3px #ff876c46;
}

.ico2:hover {
  box-shadow: 1px 2px 3px #fd370b96;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

#content_cards_CV_Contact{
  display: flex;
  flex-flow: column nowrap;
  gap: 5rem;
}

/* Esto es Responsive */

@media (max-width:490px) {

  /* Dispositivos Mobiles */
  #content_cards_CV_Contact {
    display: block;
  }

  #card_dislay_CV {
    margin-top: 40px;
  }
}

@media (min-width:500px) {

  /* Tablets */
  #content_cards_CV_Contact {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 5rem;
  }

  /* #card_dislay_CV{
        max-height: 300px;
        margin-top: 0px;
    } */
  /* #contact_me{
        /* width: 100%; 
        width: 60%;
        margin: auto;
    } */

  /* #content_cards_CV_Contact{
        display: flex;
    } */
}

@media (max-width: 600px) {
  .firts_section {
    width: 100%;
    margin: 0%;
    margin-top: 10%;
  }
}